<div class="container">
    <!--
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">World</a>
      <a class="p-2 text-muted" href="#">U.S.</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
-->
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Protocol explanation</h1>
            <p class="lead my-3">The following page will guide you through the main ideas behind the protocol. An homomorphic vote system with zero knowledge proof validation.</p>
        </div>
    </div>

    <!--
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Post title</a>
          </h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
-->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Blog by Author</h2>

                    <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                    <hr>
                    <p>Hello <a href="#">I am Ritabrata Das</a>. This is an app called Ethernova.</p>
                    <blockquote>
                        <p>Ethereum in the narrow sense refers to a suite of protocols that define a platform for <strong>decentralised applications.</strong></p>
                    </blockquote>
                    <p>At the heart of it is the <em>Ethereum Virtual Machine (“EVM”)</em>, which can execute code of arbitrary algorithmic complexity.</p>
                    <h2>Understanding Ethereum</h2>
                    <p>Let us understand Ethereum from the bellow writepost.</p>
                    <h3>What is Ethereum?</h3>
                    <p>Ethereum is a blockchain platform with its own cryptocurrency, called Ether (ETH) or Ethereum, and its own programming language, called Solidity. As a blockchain network, Ethereum is a decentralized public ledger for verifying and
                        recording transactions. Its cryptocurrency is now second only to Bitcoin in market value.</p>
                    <pre><code>Ethereum?</code></pre>
                    <p>Ethereum is a permissionless, non-hierarchical network of computers (nodes) which build and come to consensus on an ever-growing series of "blocks".</p>
                    <h3>Why Use Ethereum?</h3>
                    <p>Ethereum enables the deployment of smart contracts and decentralized applications (dapps) to be built and run without any downtime, fraud, control or interference from a third party.</p>
                    <ul>
                        <li>Open-Source</li>
                        <li>Safe</li>
                        <li>Easy-to-handle</li>
                    </ul>
                    <p>Advantages of Ethereum</p>
                    <ol>
                        <li>Decentralised Finance</li>
                        <li>Popular among other cryptocurrencies.</li>
                        <li>Ethereum’s open source concept allows for developers to build entirely new cryptocurrencies on top of it, like Chainlink and XRP, which are known as tokens. </li>
                    </ol>
                </div>
                <!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">New features</h2>
                    <p>Ethereum has regained it's popularoty on the basis on the implementation of it's new features like:.</p>
                    <ul>
                        <li>Easy Scalability</li>
                        <li>Increased Throughput</li>
                        <li>Efficient Security</li>
                    </ul>
                    <p>Thus, Ethereum has the best cryptocurrency efficiency and popular among them.</p>
                </div>
                <!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-success" href="#">Back To Dashboard</a>
                </nav>

            </div>
            <!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">The main idea was to implement an anonymous vote system in blockchain. For this particular implementation we used Ethereum.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Index</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">August 2021</a></li>
                        <li><a href="#">July 2021</a></li>
                        <li><a href="#">June 2021</a></li>
                        <li><a href="#">May 2021</a></li>
                        <li><a href="#">April 2021</a></li>
                        <li><a href="#">March 2021</a></li>
                        <li><a href="#">February 2021</a></li>
                        <li><a href="#">January 2021</a></li>
                        <li><a href="#">December 2020</a></li>
                        <li><a href="#">November 2020</a></li>
                        <li><a href="#">October 2020</a></li>
                        <li><a href="#">September 2020</a></li>
                    </ol>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Resources</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://docs.ethhub.io/ethereum-basics/resources/">Eth-Hub</a></li>
                        <li><a href="https://ethereum.org/en/developers/">Documentation</a></li>
                        <li><a href="https://github.com/ethereum">Github</a></li>
                    </ol>
                </div>
            </aside>
            <!-- /.blog-sidebar -->

        </div>
        <!-- /.row -->